header { width: 100%; position: fixed; top: 0; background-color: rgba(255, 255, 255, 1); z-index: 1350;}

header .dropdown { position: relative; cursor: pointer;}
header .dropdown svg { width: 15px; height: 15px; position: relative; top: 5px; color: var(--primary-color);}

.dropdown .dropdown-content { display: none;}
.dropdown .show-time, .dropdown .show-lang { display: block;}
.dropdown-content { position: absolute; top: 30px; padding: 10px 5px; background: #fff; border-radius: 6px; }
.dropdown-content::before { content: ' '; width: 15px; height: 15px; background: #fff; position: absolute; top: -6px; right: 11px; transform: rotate(45deg); border-radius: 3px; box-shadow: 0px 5px 10px #ccc; z-index: -1;}
.dropdown-content li { width: 100%; padding: 12px 0; border-left: none !important; border-right: none !important;}
.dropdown-content li:not(:last-child) { border-bottom: 1px solid #f3f3f3;}
.dropdown-content li:not(:first-child) label { display: inline-block; width: 134px; }
.dropdown-content .timing { display: inline-block;}

.topHeader { font-size: 12px; padding: 5px 0; border-bottom: 1px solid #f3f3f3; }
.socialLinks a { padding-left: 10px; padding-right: 10px;}
.topHeader .leftContent li ,.topHeader .rightContent li { padding-right: 10px; padding-left: 10px;}
.topHeader .leftContent li:not(:last-child) { border-right: 1px solid #f3f3f3; }
.topHeader .rightContent li:not(:first-child) { border-left: 1px solid #f3f3f3;}

.topHeader .leftContent { float: left; margin-left: -10px;}
.topHeader .rightContent { float: right; margin-right: -10px;}

.navHeader { padding: 8px 0;}
.navLeft ul li { font-size: 1rem; margin: 10px 15px;}
.navLeft ul li.active a { color: var(--primary-color);}
.navLeft li>a { font-weight: 500;}
.navLeft li.dropdown .list-dropdown { display: none;}
.navLeft li.dropdown:hover .list-dropdown{ display: block;}

.list-dropdown { position: absolute; top: 40px; right: 0; width: 180px; padding: 10px!important; background: #fff; border-radius: 6px;}
.list-dropdown::before { content: ' '; width: 15px; height: 15px; background: #fff; position: absolute; top: -6px; right: 11px; transform: rotate(45deg); border-radius: 3px; box-shadow: 0px 5px 10px #ccc; z-index: -1;}
.list-dropdown li { width: 100%; padding: 10px 0; font-size: 14px !important; margin: 0 !important; border-left: none !important; border-right: none !important;}

.navMobileMenu { position: relative; padding: 8px 0;}
.navMobileMenu .navRight { float: right;}
.navMobileMenu .navbar-toggler { position: relative; top: 6px; line-height: 0; background: #828282; padding: 6px; border: none; border-radius: 4px;}
.navMobileMenu .navbar-toggler-icon { color: #fff;}

.menu-aside { background-color: #fff; width: 280px; height: 100vh; margin-right: -15px; position: absolute; top: 0; right: -280px; transition: .5s;}
.openSide { right: 0;}
.aside-close { padding: 15px 10px; border-bottom: 1px solid #f3f3f3; color: var(--primary-color);}
.aside-bottom { height: 100%; padding: 15px 20px; align-items: flex-start !important; flex-direction: column !important; }
.aside-bottom .language li { display: block;}
.aside-bottom .socialLinks, .aside-bottom .language {  padding: 20px 0;}
.aside-bottom .socialLinks a { padding: 10px 21px; border: 1px solid #f3f3f3;}

@media (min-width: 320px) and (max-width: 767px) {
    .topHeader, .navHeader { display: none;}

}
@media (min-width: 768px) and (max-width: 1024px) {
    .topHeader, .navHeader { display: none;}
}
@media (min-width: 1025px) and (max-width: 3000px) {
    .navMobileMenu { display: none;}
}