.hero { position: relative; display: table; width: 100%; height: 100vh; background-image: url(/image/hero-bg.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; opacity: .65;}
.hero .table-vertically { display: table-cell; vertical-align: middle; text-align: center;}
.hero .icon { display: inline-block; width: 100px; border: 2px solid #fff; border-radius: 50%; cursor: pointer;}
.hero .icon .fa { font-size: 2rem; line-height: 3; color: #fff !important;}

.hero .contentVideo { background: rgba(0, 0, 0, .5); margin: 0 150px; padding: 75px; color: #fff; border-radius: 10px;}
.hero .contentVideo .sectionTitle { font-size: 2rem; text-transform: uppercase; margin-bottom: 15px;}
.hero .contentVideo p { margin-bottom: 1rem;}

.row { margin-left: -15px;margin-right: -15px;}
.product .column { float: left; width: calc( 25% - 20px); margin: 0 10px 15px;}
.product .card{ position: relative; border: 1px solid #ddd; text-align: center; margin: auto; overflow: hidden; box-shadow: 0  0px 10px 4px rgb(31 66 135 / 5%);}
.product .card img { max-width: 100%; height: auto;}

.card .card-caption { position: absolute; bottom: 10px; left: 10px; right: 10px; top: 10px; padding: 10px; transition: .6s; background: rgba(255, 255, 255, .8); color: #000; opacity: 0;}
.card:hover .card-caption { cursor: pointer; opacity: 1;}
.card .card-caption .icon .fa { font-size: 1.2rem;}
.card .card-caption .caption-content h5 { font-size: 14px; font-weight: 500; text-transform: capitalize;}
.card .card-caption .caption-content p { font-size: 10px; font-weight: 400;}

.blog { text-align: center;}
.blog .col-6 { float: left; width: calc(50% - 15px);}

@media (min-width: 320px) and (max-width: 767px) {
    .hero .contentVideo { margin: 0 10px; padding: 40px 10px;}
    .hero { background-position: 70%;}

    .product .column { width: calc(100% - 20px);}

}
@media (min-width: 768px) and (max-width: 1024px) {
    .hero .contentVideo { margin: 0 20px; padding: 40px 20px;}
    .hero { background-position: 100%;}

    .product .column { width: calc(50% - 20px);}
}